*{

    text-align: center;

}
#welcome{

height:30vh;
}



video{
width:100%;
margin:10% auto;
object-fit:contain;


}
p{
margin:5% auto;
}

#getStarted{
height:6vh;
background-color:skyblue;
color:black;
opacity:0.7;
}

#uniList{

margin: 1% auto auto auto;

}
#getInfo{

margin: 5% auto auto auto;
background-color:skyblue;
height:6vh;
color:black;

}